* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background: radial-gradient(circle at center, #1a0f08, #0b0604);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
  padding: 20px;
}


.book-container {
  position: relative;
  width: 90%;
  max-width: 1000px;
  aspect-ratio: 2 / 1; 
  perspective: 2000px;
}

.content{
  font-family: "IM Fell Double Pica SC", serif;
  display: flex;
  flex-direction: column;
  color: #f4e8d0;
  position: absolute;
  width: 40%;
  margin-right: 20%;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: clamp(1.3rem, 1.2vw, 1.3rem);
  gap: 50px;
  
  
}

h1{
  font-size: 50px;
}

p

.content p{
  padding-top: 50px;
  
}




.ending{
  font-family: "IM Fell Double Pica SC", serif;
  display: flex;
  flex-direction: column;
  color: #f4e8d0;
  position: absolute;
  width: 40%;
  right: 2%;
  margin-top: 30px;
  font-size: clamp(1.3rem, 1.2vw, 1.3rem);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: -1;

}


.ending p{
  padding-top: 30px;
}

.book {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  font-family: 'Cinzel Decorative', serif;
}

.page {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  transform-origin: left center;
  transform-style: preserve-3d;
  transition: transform 1s ease, z-index 1s ease;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: url('assets/img/kertas.jpg') center/cover no-repeat;
  border: 1px solid #3e2c18;
  box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
  padding: 2vw;
  color: #2d1c10;
  font-size: clamp(0.8rem, 1vw, 1rem);
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.back {
  transform: rotateY(180deg);
}

h2 {
  text-align: center;
  margin-bottom: 1vh;
  font-size: clamp(1rem, 1.2vw, 1.3rem);
}

.back h3{
  margin-top: 90%;
  margin-left: 70%;

}
.image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.image img {
  width: 100%;
  height: auto;
  max-height: 45vh;
  object-fit: contain;
  transition: all 0.3s ease;
  
  
}

/* Halaman Cover */
.f1 {
  padding-top: 5vh;
}

.cover {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  
}

.cover img {
  width: 100%;
  height: auto;
  margin: 20px;
}



/* halaman terakhir */

.img-last img{
  width: 50%;

}

/* Tombol Navigasi */
.nav-btn {
  position: absolute;
  bottom: 5%;
  transform: translateY(30px);
  color: #3e2c18;
  border: 1px solid #3e2c18;
  background: none;
  border: none;
  padding: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all .3s;
  z-index: 1000;
}

.nav-btn:hover {
  background: radial-gradient(circle, rgba(120,90,60,0.5) 0%, rgba(120,90,60,0) 80%);
  border-radius: 50%;
}

#prev { margin: 5px; }
#next { right: 5px; bottom: 35px; }





@media (max-width: 768px) {
  body {
    display: block;
    padding: 10px;
    overflow-y: auto;
  }

  .book-container {
    width: 100%;
    aspect-ratio: auto;
    perspective: none;
    padding: 3px;
  }

  .content{
    display: none;
    
  }

  .book {
    display: flex;
    flex-direction: column;
    transform: none;
  }

  .page {
    position: relative;
    width: 100%;
    height: auto;
    transform: none;
  }

  .front, .back {
    position: relative;
    width: 100%;
    height: auto;
    transform: none;
    background-size: cover;
    font-size: 0.9rem;
    border-radius: 10px;
  }

  .nav-btn {
    display: none;
  }

  h2 {
    font-size: 1.1rem;
  }

  .image img {
    max-height: 40vh;
  }
}
